---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Learn from '../components/Learn.astro';
import Access from '../components/Access.astro';
import Faq from '../components/Faq.astro';
import SiteFooter from '../components/SiteFooter.astro';
---
<Layout>
  <SiteHeader />
  <main id="main">
    <Hero />
    <Features />
    <Learn />
    <Access />
    <Faq />
  </main>
  <SiteFooter />
</Layout>
